<fieldset>

  <!-- TITLE -->
  <div class="form-group">
    <label for="thought-show-title">Title</label><br>
    <input class="form-control" id="thought-show-title" type="text" name="showTitle" value="{{thought.showTitle}}"/>
  </div>


  <!-- DESCRIPTION -->
  <div class="form-group">
    <label for="thought-content">Description</label><br>
    <textarea class="form-control" id="thought-content" name="thoughtContent" rows="10" />{{thought.thgoughtContent}}</textarea>
  </div>
</fieldset>
