<h1>{{msg}}</h1>

<h2><a href="./TVS">Featured Shows</h2>



<form action='/' method="post">
  <div class="form-group">
    <label for="genre-input">Genre</label>
    <input type="text" class="form-control" name="genre-input" id="genre-input" placeholder="Enter email">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
