<h1>{{msg}}</h1>

<h2><a href="./TVS">Featured Shows</h2>

    <div class="dropdown show">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Genre
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="./genre">Action</a>
        <a class="dropdown-item" href="./genre">Comedy</a>
        <a class="dropdown-item" href="./genre">Drama</a>
      </div>
    </div>

<h4><a href="./thoughts">What People Have to Say</h4>


<!-- <form action='/' method="post">
  <div class="form-group">
    <label for="genre-input">Genre</label>
    <input type="text" class="form-control" name="genre-input" id="genre-input" placeholder="Enter email">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->

<!-- <div class="input-group mb-3">
  <div class="input-group-prepend">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Genre</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Drama</a>
      <a class="dropdown-item" href="#">Mystery</a>
      <a class="dropdown-item" href="#">Comedy</a>
      <a class="dropdown-item" href="#">Sci-Fi</a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
  <! <input type="text" class="form-control" aria-label="Text input with dropdown button"> -->
<!-- </div> -->
