<!-- <h1>{{msg}}</h1> -->
{{> header }}

<div class="container-fluid">
    <div class="row home-row">
        <div class="col-md-12">
            <div class="dropdown-container dropdown show">
                <h2 class="home-genre-title">Choose a Genre:</h2>

              <a class=" the-pink-dropdown btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Genre
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="./genre">Action</a>
                <a class="dropdown-item" href="./genre">Comedy</a>
                <a class="dropdown-item" href="./genre">Drama</a>
              </div>
              <div class="input-group mb-3">

</div>

<div class="checkbox">
  <label><input type="checkbox" value="">I want to see shows with a strong female lead character.</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="">I want to see shows with a diverse cast.</label>
</div>

</div>
            </div>
        </div>
    </div>

</div>


<style>

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #81DBD0;
}

.home-row {
    font-family: sans-serif;
    text-align: center;
    margin-top: 100px;
}

.home-genre-title {
    font-weight:bolder;
}

.the-pink-dropdown {
    background-color: white;
    color: black;
    padding: 10px 30px;
    font-size: 17px;
    margin-top: 15px;

    -webkit-box-shadow: 5px 21px 64px -2px rgba(255,242,255,1);
    -moz-box-shadow: 5px 21px 64px -2px rgba(255,242,255,1);
    box-shadow: 5px 21px 64px -2px rgba(255,242,255,1);
}
.dropdown-container {
    border: 2px solid;
    padding-top: 4em;
    padding-bottom: 4em;
    border-color: white;
    max-width: 75%;
    margin: 0 auto;
    border-radius: 10px;
}
</style>

<!-- <form action='/' method="post">
  <div class="form-group">
    <label for="genre-input">Genre</label>
    <input type="text" class="form-control" name="genre-input" id="genre-input" placeholder="Enter email">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->

<!-- <div class="input-group mb-3">
  <div class="input-group-prepend">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Genre</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Drama</a>
      <a class="dropdown-item" href="#">Mystery</a>
      <a class="dropdown-item" href="#">Comedy</a>
      <a class="dropdown-item" href="#">Sci-Fi</a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
  <! <input type="text" class="form-control" aria-label="Text input with dropdown button"> -->
<!-- </div> -->
