<form method="POST" action"/thoughts/{{thought._id}}?_method=PUT">
    <fieldset>
      <legend>Edit Thought</legend>
      <!-- TITLE -->
      <p>
        <label for="show">Show</label><br>
        <input id="show-title" type="text" name="show" value="{{show.title}}"/>
      </p>
      <p>
        <label for="content-text">What would you like to say?</label><br>
        <textarea id="content-text" name="content" rows="10" />{{content.text}}</textarea>
      </p>
    </fieldset>

    <p>
        <button type="submit">Save Thought</button>
    </p>
</form>
