<form method="POST" action="/TVS">
  <fieldset>
    <legend>New TV Show</legend>

    <p>
      <label for="show">Show</label><br>
      <input id="show-title" type="text" name="show" />
    </p>
    <p>
      <label for="content-text">What makes this show interesting?</label><br>
      <textarea id="content-text" name="content" rows="10" /></textarea>
    </p>
  </fieldset>


  <p>
    <button type="submit">Save Show to Watchlist</button>
  </p>

</form>
