
<form method="POST" action="/watchlist/{{watchlistItem._id}}?_method=PUT">
  <fieldset>
    <legend>Edit Watchlist Item</legend>

    <p>
      <label for="show">Show</label><br>
      <input id="show-title" type="text" name="show" />
    </p>

  </fieldset>


  <p>
    <button type="submit">Save Show</button>
  </p>

</form>
