<form method="POST" action="/watchlist">
  <fieldset>
    <legend>Add a New TV Show to Your Watchlist</legend>

    <p>
      <label for="show">Show</label><br>
      <input id="show-title" type="text" name="show" />
    </p>

  </fieldset>


  <p>
    <button type="submit">Save Show to Watchlist</button>
  </p>

</form>
